<%= form_for(@customer) do |f| %>

  <% if @customer.errors.any? %>
     <div class="alert alert-danger">
         <p><b><%= @customer.errors.count %>件のエラーがあります</b></p>
         <ul>
             <% @customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
             <% end %>
         </ul>
     </div>
  <% end %>

  <div class="form-group">
    <%= f.label :family_name %><br>
    <%= f.text_field :family_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :given_name %><br>
    <%= f.text_field :given_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <!--09-3_基本課題-->
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  
  
  <div class="form-group">
    <%= f.label :company_id %>
    <%= f.collection_select :company_id, Company.all, :id, :name , { include_blank: "会社を選択してください" },  { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :post_id %>
    <%= f.collection_select :post_id, Post.all, :id, :position_name, { include_blank: "役職を選択してください" }, { class: "form-control" } %>
  </div>
  <%= f.submit class: "btn btn-default" %>
<% end %>